@layer utilities {
  /* Text-3xl (32px/42px) */

  .font-3xl-bold {
    @apply text-[2rem] leading-10.5;
    font-weight: 700;
  }

  .font-3xl-semibold {
    @apply text-[2rem] leading-10.5;
    font-weight: 600;
  }

  /* Text-2xl (24px/32px) */

  .font-2xl-bold {
    @apply text-[1.5rem] leading-8;
    font-weight: 700;
  }

  .font-2xl-semibold {
    @apply text-[1.5rem] leading-8;
    font-weight: 600;
  }

  .font-2xl-medium {
    @apply text-[1.5rem] leading-8;
    font-weight: 500;
  }

  .font-2xl-regular {
    @apply text-[1.5rem] leading-8;
    font-weight: 400;
  }

  /* Text-xl (20px/32px) */

  .font-xl-bold {
    @apply text-[1.25rem] leading-8;
    font-weight: 700;
  }

  .font-xl-semibold {
    @apply text-[1.25rem] leading-8;
    font-weight: 600;
  }

  .font-xl-medium {
    @apply text-[1.25rem] leading-8;
    font-weight: 500;
  }

  .font-xl-regular {
    @apply text-[1.25rem] leading-8;
    font-weight: 400;
  }

  /* Text-2lg (18px/26px) */

  .font-2lg-bold {
    @apply text-[1.125rem] leading-6.5;
    font-weight: 700;
  }

  .font-2lg-semibold {
    @apply text-[1.125rem] leading-6.5;
    font-weight: 600;
  }

  .font-2lg-medium {
    @apply text-[1.125rem] leading-6.5;
    font-weight: 500;
  }

  .font-2lg-regular {
    @apply text-[1.125rem] leading-6.5;
    font-weight: 400;
  }

  /* Text-lg (16px/26px) */

  .font-lg-bold {
    @apply text-[1rem] leading-6.5;
    font-weight: 700;
  }

  .font-lg-semibold {
    @apply text-[1rem] leading-6.5;
    font-weight: 600;
  }

  .font-lg-medium {
    @apply text-[1rem] leading-6.5;
    font-weight: 500;
  }

  .font-lg-regular {
    @apply text-[1rem] leading-6.5;
    font-weight: 400;
  }

  /* Text-md (14px/24px) */

  .font-md-bold {
    @apply text-[0.875rem] leading-6;
    font-weight: 700;
  }

  .font-md-semibold {
    @apply text-[0.875rem] leading-6;
    font-weight: 600;
  }

  .font-md-medium {
    @apply text-[0.875rem] leading-6;
    font-weight: 500;
  }

  .font-md-regular {
    @apply text-[0.875rem] leading-6;
    font-weight: 400;
  }

  /* Text-sm (13px/22px) */

  .font-sm-semibold {
    @apply text-[0.8125rem] leading-5.5;
    font-weight: 600;
  }

  .font-sm-medium {
    @apply text-[0.8125rem] leading-5.5;
    font-weight: 500;
  }

  /* Text-xs (12px) */

  .font-xs-semibold {
    @apply text-[0.75rem] leading-5;
    font-weight: 600;
  }

  .font-xs-medium {
    @apply text-[0.75rem] leading-4.5;
    font-weight: 500;
  }

  .font-xs-regular {
    @apply text-[0.75rem] leading-4.5;
    font-weight: 400;
  }
}
