/* font-size, line-height 변수 정의 */
@theme {
  --text-*: initial;
  --leading-*: initial;

  --text-xs: 0.75rem;
  --text-sm: 0.8125rem;
  --text-md: 0.875rem;
  --text-lg: 1rem;
  --text-2lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
  --text-3xl: 2rem;

  --leading-xs: 1.125rem;
  --leading-sm: 1.25rem;
  --leading-md: 1.375rem;
  --leading-lg: 1.5rem;
  --leading-xl: 1.625rem;
  --leading-2xl: 2rem;
  --leading-3xl: 2.625rem;
}

/* font-xs: 12px/18px */
@utility font-xs-regular {
  font-size: var(--text-xs);
  line-height: var(--leading-xs);
  font-weight: 400;
}

@utility font-xs-medium {
  font-size: var(--text-xs);
  line-height: var(--leading-xs);
  font-weight: 500;
}

/* font-xs: 12px/20px */
@utility font-xs-semibold {
  font-size: var(--text-xs);
  line-height: var(--leading-sm);
  font-weight: 600;
}

/* font-sm: 13px/22px */
@utility font-sm-medium {
  font-size: var(--text-sm);
  line-height: var(--leading-md);
  font-weight: 500;
}

@utility font-sm-semibold {
  font-size: var(--text-sm);
  line-height: var(--leading-md);
  font-weight: 600;
}

/* font-md: 14px/24px */
@utility font-md-regular {
  font-size: var(--text-md);
  line-height: var(--leading-lg);
  font-weight: 400;
}

@utility font-md-medium {
  font-size: var(--text-md);
  line-height: var(--leading-lg);
  font-weight: 500;
}

@utility font-md-semibold {
  font-size: var(--text-md);
  line-height: var(--leading-lg);
  font-weight: 600;
}

@utility font-md-bold {
  font-size: var(--text-md);
  line-height: var(--leading-lg);
  font-weight: 700;
}

/* font-lg: 16px/26px */
@utility font-lg-regular {
  font-size: var(--text-lg);
  line-height: var(--leading-xl);
  font-weight: 400;
}

@utility font-lg-medium {
  font-size: var(--text-lg);
  line-height: var(--leading-xl);
  font-weight: 500;
}

@utility font-lg-semibold {
  font-size: var(--text-lg);
  line-height: var(--leading-xl);
  font-weight: 600;
}

@utility font-lg-bold {
  font-size: var(--text-lg);
  line-height: var(--leading-xl);
  font-weight: 700;
}

/* font-2lg: 18px/26px */
@utility font-2lg-regular {
  font-size: var(--text-2lg);
  line-height: var(--leading-xl);
  font-weight: 400;
}

@utility font-2lg-medium {
  font-size: var(--text-2lg);
  line-height: var(--leading-xl);
  font-weight: 500;
}

@utility font-2lg-semibold {
  font-size: var(--text-2lg);
  line-height: var(--leading-xl);
  font-weight: 600;
}

@utility font-2lg-bold {
  font-size: var(--text-2lg);
  line-height: var(--leading-xl);
  font-weight: 700;
}

/* font-xl: 20px/32px */
@utility font-xl-regular {
  font-size: var(--text-xl);
  line-height: var(--leading-2xl);
  font-weight: 400;
}

@utility font-xl-medium {
  font-size: var(--text-xl);
  line-height: var(--leading-2xl);
  font-weight: 500;
}

@utility font-xl-semibold {
  font-size: var(--text-xl);
  line-height: var(--leading-2xl);
  font-weight: 600;
}

@utility font-xl-bold {
  font-size: var(--text-xl);
  line-height: var(--leading-2xl);
  font-weight: 700;
}

/* font-2xl: 24px/32px */
@utility font-2xl-regular {
  font-size: var(--text-2xl);
  line-height: var(--leading-2xl);
  font-weight: 400;
}

@utility font-2xl-medium {
  font-size: var(--text-2xl);
  line-height: var(--leading-2xl);
  font-weight: 500;
}

@utility font-2xl-semibold {
  font-size: var(--text-2xl);
  line-height: var(--leading-2xl);
  font-weight: 600;
}

@utility font-2xl-bold {
  font-size: var(--text-2xl);
  line-height: var(--leading-2xl);
  font-weight: 700;
}

/* font-3xl: 32px/42px */
@utility font-3xl-semibold {
  font-size: var(--text-3xl);
  line-height: var(--leading-3xl);
  font-weight: 600;
}

@utility font-3xl-bold {
  font-size: var(--text-3xl);
  line-height: var(--leading-3xl);
  font-weight: 700;
}
